$TTL 1h ; sets the default time-to-live for this zone

; name ttl class rr    name-server                 email-addr  (sn ref ret ex min)
@          IN    SOA   ns1.foo.com.          hostmaster.justdavis.com. (
                              2016081300 ; sn = serial number (yyyymmdd##)
                              1h         ; ref = refresh
                              15M        ; ret = update retry
                              4W         ; ex = expiry
                              1h         ; min = minimum
                              )

; Nameserver Records
; name             ttl    class   rr                name
@                         IN      NS                ns1.foo.com.

; IPv4 Address Records
; name             ttl    class   rr                name
@                         IN      A                 9.10.11.12
ns1                       IN      A                 10.11.12.13

; CNAME Records
; name             ttl    class   rr                name
www                       IN      CNAME             @
mail                      IN      CNAME             @

; Mailserver Records
; name             ttl    class   rr     priority   name
@                         IN      MX     10         mail

; TXT Records
; name             ttl    class   rr                name
@                         IN      TXT               "v=spf1 ip4:9.10.11.12 ~all"

; SRV Records
; name                   ttl    class   rr                name

